<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Изменение задачи</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<h1>Изменение задачи</h1>

<form th:action="@{/users/{userId}/tasks/{taskId}/edit(userId=${task.user.id}, taskId=${task.id})}"
      method="post">
  <div class="form-group">
    <label>Название:</label>
    <input type="text" th:field="*{task.title}" required>
  </div>

  <div class="form-group">
    <label>Описание:</label>
    <textarea th:field="*{task.description}"></textarea>
  </div>

  <div class="form-group">
    <label>Выполнить до:</label>
    <input type="datetime-local" th:field="*{task.dueDate}">
  </div>

  <div class="form-group">
    <label>Статус задачи:</label>
    <select th:field="*{task.completed}">
      <option value="true">Завершено</option>
      <option value="false">Не завершено</option>
    </select>
  </div>

  <div class="form-group">
    <label>Пользователь:</label>
    <select th:field="*{task.user.id}">
      <option th:each="user : ${users}"
              th:value="${user.id}"
              th:text="${user.username}"></option>
    </select>
  </div>

  <button type="submit" class="btn">Изменить задачу</button>
  <a th:href="@{/users/{userId}/tasks(userId=${task.user.id})}"
     class="btn cancel">Отменить</a>
</form>
</body>
</html>